nav ul {
  list-style-type: none;
  background: #222;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a, nav ul li {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
